body {
	background-color: #FCFCFC;
}

#titles {
	text-align: center;
	margin-bottom: 100px;
}

#results {
	margin-top: 80px;
}

.filters {
	padding-top: 15px;
}

.result-left {	
	float: left;
	width: 60%;
}

.result-middle {
	margin-top: 0.5%;
	float: right;
}

.result-right {
	margin-left: 15px;
	float: right;
}

.beer-description {
	text-align: justify;
}

.beer-flag, .beer-taste, .beer-flavor {
	width: 30px;
	height: 30px;
	vertical-align: top;
	margin-bottom: 15px;
}

.beer-color {
	max-width: 30px;
	margin-bottom: 5px;
}

#empty-list {
	display: none;
	text-align: center;
}