<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Beer Matchup</title>
		<link rel="stylesheet" href="css/materialize.min.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="js/angular.min.js"></script>
	</head>
	
	<body ng-app="myApp">
	  	<div id="titles">

			<h1>Looking for a beer?</h1>
			<h2>Let's get you matched up!</h2>

		</div>

		<div class="main" ng-controller="MainController">
			<section class="container">
		
				<p id="dontworry" class="center">Don't worry, you don't have to fill all of these, just the ones you like.</p>

				<div class="row filters">
					<div class="col s6 input-field">
						<input id="beer_brand" type="text" name="brand" ng-model="brand">
						<label for="beer_brand">What's the brand?</label>
					</div>

					<div class="filter col s6 input-field">
						<input id="beer_name" type="text" name="name" ng-model="name">
						<label for="beer_name">Does your beer have a name?</label>
					</div>

					<div class="col s6 input-field">
						<select id="color" ng-model="color">
							<option value="" selected="selected">Any</option>
							<option value="Blonde">Blonde</option>
							<option value="Amber">Amber</option>
							<option value="Brown">Brown</option>
							<option value="Black">Black</option>
							<option value="Red">Red</option>
						</select>
						<label>Want a specific color type?</label>
					</div>

					<div class="col s6 input-field">
						<select id="country" ng-model="country">
							<option value="" selected="selected">Any</option>
							<option value="DE">Germany</option>
							<option value="BE">Belgium</option>
							<option value="US">USA</option>
							<option value="IR">Ireland</option>
							<option value="NL">Netherlands</option>
						</select>
						<label>Where do you want it from?</label>
					</div>

					<div class="col s6 input-field">
						<select id="flavor" ng-model="flavor">
							<option value="" selected="selected">Doesn't matter</option>
							<option value="not">No specific flavor</option>
							<option value="fruit">Fruits</option>
							<option value="tequila">Tequila</option>
						</select>
						<label>Want it flavored?</label>
					</div>

					<div class="col s6 input-field">
						<select id="taste" ng-model="taste">
							<option value="" selected="selected">I don't care</option>
							<option value="bitter">Bitter</option>
							<option value="sugar">Sugar</option>
						</select>
						<label>How does it taste like?</label>
					</div>
				</div>

				<div class="center">
					<a class="waves-effect waves-light btn" ng-click="search()" id="submit">Search!</a>
				</div>
			</section>

			<section id="results" class="container">

				<div class="row">
					<div class="col l4 m6 s12" ng-repeat="r in results">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" ng-src="{{r.picture}}" alt="{{r.name}}">
							</div>

							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4">{{r.name}}<i class="material-icons right">more_vert</i></span>
							</div>
		    
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">{{r.name}}<i class="material-icons right">close</i></span>

								<div class="result-left">
									<p class="beer-brand">{{r.brand}}</p>
									<p class="beer-description">{{r.description}}</p>
								</div>

								<div class="result-right">
									<img class="beer-flavor" ng-src="resource/flavor/flavor_{{r.flavor}}.png" alt="This beer is {{r.flavor}} flavored"><br>
									<img class="beer-taste" ng-src="resource/taste/taste_{{r.taste}}.png" alt="This beer tastes like {{r.taste}}"><br>
									<img class="beer-flag" ng-src="resource/flag/flag_{{r.country}}.png" alt="This beer was made in {{r.countryLong}}"><br>
								</div>

								<div class="result-middle">
									<p class="beer-abv">{{r.abv}}%</p>
									<img class="beer-color" ng-src="resource/color/color_{{r.color}}.png" alt="This beer is {{r.color}}"><br>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="result" ng-repeat="r in results">
					<img class="beer-picture" ng-src="{{r.picture}}" alt="{{r.name}}">


				</div>
			</section>

			<section id="empty-list" class="container">
				<p>Unfortunately, there were no results for your query.  Care to try again with different filters?</p>
				<p>If you want us to add a missing beer, you can shoot us an email over at <a href="mailto:contact@email.com">contact@email.com</a>!  Don't forget to give us as much information as you can!</p>
			</section>
		</div>

		<!-- Modules -->
		<script src="js/app.js"></script>

		<!-- Materialize -->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="js/materialize.min.js"></script>

		<!-- Controllers -->
		<script src="js/controllers/MainController.js"></script>

		<!-- This is awful but needed to make materialize's JS work -->
		<script>
			$(document).ready(function() {
				$('select').material_select();
			});
		</script>
	</body>
</html>
